.header{
    width:100%;
    height:30px;
    top:0;
    border-bottom: 1px solid  #cccccc;
}

.data{
    margin-top: 5px;
    margin-left: 5%;
}

.label{
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.stats{
    font-weight: 400;
    color: rgb(72, 120, 255)
}

.stats:hover{
text-decoration: underline;
cursor: pointer;
}

.label-header{
    height: 75px;
    border-bottom: 1px solid  #cccccc;
}

.logo{
    width:18%;
    margin-top: 15px;
    margin-left: 5%;
    display: inline-block;
}

.logo:hover{
    cursor: pointer;
}

.header-option{
    display: inline-block;
    margin-left: 10%;
    margin-top: 15px;
} 

.item{
    font-weight: 500;
    right: 0;
    display: inline-block; 
    padding-top:10px;
    padding-right:20px ;
}

.item:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #cccccc;
}

.dots{
    font-weight: bolder;
    right: 0;
    display: inline-block; 
    padding-top:10px;
    padding-right:20px ;
}

.dots:hover{
    cursor: pointer;
    color: #cccccc;
}

.moon{
    padding-top: 5px;
    display: inline-block;
    margin-left:35%; 
}